.btnhowtouse {
    border-radius: 30px;
    background: #253237 center no-repeat;
    margin: 0 15% 0 15%;
    padding: 4% 0 5% 0;
    font-family: Quicksand, serif;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.btnhowtouse:hover {
    background: lighten(#253237, 2%);
    -webkit-box-shadow: 0px 0px 17px 0px rgba(44, 45, 61,0.48);
    -moz-box-shadow: 0px 0px 17px 0px rgba(44, 45, 61,0.48);
    box-shadow: 0px 0px 17px 0px rgba(44, 45, 61,0.48);
}

.btnhowtouse:active {
    background: #2C2D3D;
    box-shadow: 0 10px 20px -10px #2C2D3D;
    transform: perspective(250px) scale3d(1, 1, 1) translateY(3%);
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}